body {
    margin: 0;
    font-family: 'Georgia', 'open-sans';
}

.homepage-container {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.title-homepage {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    position: relative;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    font-size: 25px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    color: rgba(255, 255, 255, 0.9);
}

.buttons-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action-button,
.info-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #c5122f;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

#dialog-content {
    padding: 20px;
    text-align: center;
}

/* #quiz {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
} */

#quiz {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 2500px;
    /* Adjust the maximum width as needed */
    background-color: white;
}

#textInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    max-width: 2500px;
}

.quiz-container {
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#currentScore,
#earnedASH {
    font-size: 18px;
}

#redeemRewardBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #c5122f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 2500px) {
    #quiz {
        width: 90%;
    }

    #textInput {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .dialog-box {
        width: 80%;
        max-width: none;
    }
}

#thankYouScreen {
    display: none;
    text-align: center;
    padding: 50px;
    /* Added padding for better spacing */
    background-color: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#thankYouScreen h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

#thankYouScreen p {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

#thankYouScore,
#thankYouASH {
    font-weight: bold;
    color: #c5122f;
    /* Your accent color */
}

/* Adjusted button styles within the thank you screen */
#thankYouScreen button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #c5122f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}